<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
</head>
<body>

    <h1>List of Messages</h1>

    <ul>
        {% for i in messages %}
            <li>
                <strong>Name:</strong> {{ i.name }}<br>
                <strong>Email:</strong> {{ i.email }}<br>
                <strong>Message:</strong> {{ i.message }}<br><br><br><br>
            </li>
        {% endfor %}

    </ul>

</body>
</html>
